/*
 * Copyright/Droit d'auteur (c) Novembre 2024
 * LEFEVRE Emmanuel
 * Cod!ngT3kSolutions, SIRET: 50863331000026
 * Tous droits réservés.
 *
 * Licence propriétaire Sortify. Aucun droit n'est accordé en dehors des conditions spécifiées dans la présente licence.
 * Pour plus de détails, consultez le fichier LICENSE.md
*/

/*------Left Entrance------*/
.leftEntrance {
  animation: leftEntrance 1s ease-out both;
}
@keyframes leftEntrance {
  from {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(5deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/*------Bounce------*/
.bounce {
  animation: bounce 2s ease-in-out;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/*------Head Shake------*/
:root {
  --shake-intensity: 1%;
}
.headShake {
  animation: headShake 100ms;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(.4, .1, .6, .9);
}
@keyframes headShake {
  25% {
    transform: translateX(var(--shake-intensity));
  }
  75% {
    transform: translateX(var(--shake-intensity) * -1);
  }
}

/*------Spinning Border Point------*/
@keyframes spinningBorderPoint {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------Zoom In------*/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/*------Grow Down------*/
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

/*------Grow Up------*/
@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}

/*------Ringing Bell------*/
.ringingBell {
  animation: ringingBell 5s 1.3s ease-in-out infinite;
}
@keyframes ringingBell {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg) scale(1.2)}
  3% { transform: rotate(-28deg) scale(1.2)}
  5% { transform: rotate(34deg) scale(1.2)}
  7% { transform: rotate(-32deg) scale(1.2)}
  9% { transform: rotate(30deg) scale(1.2)}
  11% { transform: rotate(-28deg) scale(1.2)}
  13% { transform: rotate(26deg) scale(1.2)}
  15% { transform: rotate(-24deg) scale(1.2)}
  17% { transform: rotate(22deg) scale(1.2)}
  19% { transform: rotate(-20deg) scale(1.2)}
  21% { transform: rotate(18deg) scale(1.2)}
  23% { transform: rotate(-16deg) scale(1.2)}
  25% { transform: rotate(14deg) scale(1.2)}
  27% { transform: rotate(-12deg) scale(1.2)}
  29% { transform: rotate(10deg) scale(1.2)}
  31% { transform: rotate(-8deg) scale(1.2)}
  33% { transform: rotate(6deg) scale(1.2)}
  35% { transform: rotate(-4deg) scale(1.2)}
  37% { transform: rotate(2deg) scale(1.2)}
  39% { transform: rotate(-1deg) scale(1.2)}
  41% { transform: rotate(1deg) scale(1.2)}
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

/*------Fill Error Border------*/
@keyframes fillErrorBorder {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 36px);
  }
}

/*------Fill Valid Border------*/
@keyframes fillValidBorder {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 36px);
  }
}
