/*======RESET======*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*======FONTS SIZE======*/
/* Font-size variables */
:root {
    --font-size-body: 24px;
    --font-size-button: 16px;
    --font-size-h1: 40px;
    --font-size-input: 14px;
    --font-size-label: 14px;
    --font-size-label-focus: 9px;
    --font-size-p: 14px;
    --font-size-result: 14px;
}

/*======COLOR PALETTE======*/
/*------Main------*/
:root {
    --white: white;
    --black: black;
    --black2: #272727;
    --primary-color: #008080;
    --secondary-color: #209b87;
    --third-color: #4db686;
    --fourth-color: rgb(0, 255, 229);
    --error-color: #fd7200;
    --valid-color: #3cff00;
    --invalid-color: #fa0000;
}
/*------Background------*/
:root {
    --background-color: #f5f5f5;
}
/*------Text------*/
:root {
    --text-result-color: #004466;
}
/*------Border------*/
:root {
    --border-width1: 1px;
    --border-width2: 2px;
    --border-solid: solid;
}
/*------Hover------*/
:root {
    --hover-border-color: var(--primary-color);
}
/*------Gradient------*/
:root {
    --gradient-angle1: 180deg;
    --gradient-angle2: 315deg;
    --gradient1: var(--primary-color);
    --gradient2: var(--fourth-color);
    --start-position: 0%;
    --end-position1: 150%;
    --end-position2: 74%;
    --button-gradient-effect: linear-gradient(var(--gradient-angle2), var(--gradient2) var(--start-position), var(--gradient1) var(--end-position2));
    --h1-gradient-effect: linear-gradient(var(--gradient-angle1), var(--gradient1) var(--start-position), var(--gradient2) var(--end-position1));
}
/*------Shadows------*/
:root {
    --box-shadow-color: rgba(0, 0, 0, 0.6);
    --button-shadow-color: rgba(0, 0, 0, 0.7);
    --h1-shadow-color: rgba(0, 0, 0, 0.1);
    --icon-shadow-color: rgba(0, 0, 0, 0.2);
    --text-shadow-color: rgba(0, 0, 0, 0.2);
}
:root {
    --box-shadow: 0px 11px 5px -8px var(--box-shadow-color);
    --button-shadow: 0px 7px 6px -4px var(--button-shadow-color);
    --h1-shadow: 3px 3px 0px var(--h1-shadow-color);
    --icon-shadow: drop-shadow(2px 1px 0px var(--icon-shadow-color));
    --text-shadow: 0px 2px 2px var(--text-shadow-color);
}

/*======SEMANTIC FONTS======*/
/*------Arial------*/
:root {
    --text: 'arial';
    --text-serif: 'sans-serif';
    --text-weight-regular: 400;
    --text-weight-bold: bold;
}


/*======APPLY======*/
/*------App------*/
div.sortify-app {
    font-family: var(--font-size-body) var(--text-serif);
    font-size: var(--font-size-body);
    font-weight: var(--text-weight-regular);
}
div.sortify-app-content {
    background-color: var(--background-color);
    width: 320px;
    height: fit-content;
}
/*------Content / Container------*/
div.sortify-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.h1-container {
    position: relative;
    display: inline-block;
}
.notifs-border-content {
    display: inline-block;
    background: linear-gradient(var(--gradient-angle1), var(--primary-color), var(--fourth-color));
    width: 170px;
    margin: 10px 0 30px 0;
    padding: 2px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
#notifs-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-color);
    padding: 13px 3px 11px 3px;
    border-radius: 3px;
    z-index: 1;
}
.notifs-icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 36px;
    height: 36px;
    top: -18px;
    border: var(--border-width2) var(--border-solid) var(--primary-color);
    border-radius: 50%;
    z-index: 2;
}
/*------Form------*/
#bookmark-form {
    margin: 5px 0 25px 0;
}
/*------Title------*/
h1.sortify-title {
    position: relative;
    font-size: var(--font-size-h1);
    font-weight: var(--text-weight-bold);
    background: var(--h1-gradient-effect);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
    padding-top: 5px;
    z-index: 1;
}
h1.sortify-title.border-layer {
    position: absolute;
    color: transparent;
    background: none;
    top: 0;
    left: 0;
    -webkit-text-stroke: 1px var(--fourth-color);
    text-shadow: var(--h1-shadow);
    z-index: 0;
}
/*------Button------*/
.bookmark-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 46px;
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
}
.rotating-border-line {
    display: none;
    width: 106px;
    height: 23px;
    background: linear-gradient(90deg, var(--fourth-color), var(--fourth-color));
    rotate: -30deg;
    animation: spinningBorderPoint 2s linear infinite;
    animation-play-state: paused;
}
button#add-bookmark-btn {
    position: absolute;
    cursor: pointer;
    font-size: var(--font-size-button);
    color: var(--white);
    background-image: var(--button-gradient-effect);
    width: 96px;
    height: 38px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--button-shadow);
    outline: var(--border-width2) var(--border-solid) rgba(0, 0, 0, 0);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
button#add-category-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 5px;
    top: -18px;
    transition: transform 0.3s ease;
}
button#enable-notifs {
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--primary-color);
    background-color: transparent;
    padding-top: 10px;
    border: none;
    text-shadow: var(--text-shadow);
}
/*------Img / Icon------*/
img.sortify-logo {
    width: 135px;
    height: auto;
    margin: 10px 0 20px 0;
}
.notifs-icon img {
    display: none;
}
.notifs-icon {
    position: relative;
    background: linear-gradient(var(--gradient-angle1), var(--gradient1), var(--gradient2));
    width: 16px;
    height: 16px;
    mask: url('/src/assets/icons/bell_16.png') no-repeat center;
    mask-size: contain;
}
/*------Input------*/
div.category-input-container{
	position: relative;
    width: 200px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    gap: 2px;
}
div.category-input-container input {
    font-size: var(--font-size-input);
    color: var(--primary-color);
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border: none;
    border-bottom: var(--border-width1) var(--border-solid) var(--primary-color);
    background: transparent;
    transition: width 0.2s linear 0.2s;
    flex: 1;
}
div.category-input-container input ~ span#border-input {
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 30px;
    left: 0;
    background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
}
div.category-input-container label {
    position: absolute;
    font-size: var(--font-size-label);
    color: var(--primary-color);
    top: -2px;
    left: 0;
    pointer-events: none;
    transition: top 0.5s, font-size 0.5s, color 0.5s;
    opacity: 1;
}
/*------Tooltip------*/
.tooltip {
    position: absolute;
    visibility: hidden;
    color: var(--primary-color);
    background-color: var(--background-color);
    text-align: center;
    width: auto;
    padding: 5px 10px;
    left: 170%;
    bottom: 100%;
    border-radius: 3px;
    border: var(--border-width1) var(--border-solid) var(--primary-color);
    transform: translateX(-50%);
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 1;
}
/*------Result------*/
div.request-result {
    display: none;
    font-size: var(--font-size-result);
    color: var(--text-result-color);
    margin-top: 20px;
}

/*------Hover------*/
/*Button*/
.bookmark-btn-container:hover .rotating-border-line {
    animation-play-state: running;
}
button#add-bookmark-btn:hover {
    color: var(--primary-color);
    background-image: none;
    background-color: var(--white);
    /* border-color: var(--hover-border-color); */
    outline-color: var(--hover-border-color);
    box-shadow: none;
}
button#add-category-btn:hover img.category-icon {
    transform: scale(1.4);
    transform-origin: center;
    filter: var(--icon-shadow);
    transition: transform 0.3s ease-in, drop-shadow 0.3s ease-out;
}
button#enable-notifs:hover {
    text-decoration: underline;
}
/*Label*/
div.category-input-container input:hover ~ label {
    animation: bounce 1.2s ease-in-out;
}
/*Span*/
div.category-input-container input:hover ~ span#border-input {
    display: block;
    position: absolute;
    width: calc(100% - 36px);
    height: 2px;
    background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
    bottom: 30px;
    left: 0;
    transition: width 0.5s cubic-bezier(0.2, 0, 0.03, 1);
}
/*Tooltip*/
.category-input-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/*------Focus------*/
div.category-input-container input:focus {
    outline: none;
    color: var(--primary-color);
    caret-color: var(--primary-color);
}
div.category-input-container input:focus ~ label {
    font-size: var(--font-size-label-focus);
    top: -10px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}
div.category-input-container input:focus ~ span#border-input {
    width: calc(100% - 36px);
    transition: width 0.5s cubic-bezier(0.2, 0, 0.03, 1);
}

/*------Placeholder------*/
div.category-input-container input::placeholder {
    color: transparent;
}
div.category-input-container input:not(:placeholder-shown) ~ label {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.category-input-container input:not(:placeholder-shown) ~ span#border-input {
    width: calc(100% - 36px);
    background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
}

/*------Valid / Invalid------*/
input.valid + span#border-input {
    background: var(--valid-color);
    width: calc(100% - 36px);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
}
input.invalid + span#border-input {
    background: var(--invalid-color);
    width: calc(100% - 36px);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
}
