/*======RESET======*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*======FONTS SIZE======*/
/* Font-size variables */
:root {
    --font-size-body: 24px;
    --font-size-button: 16px;
    --font-size-h1: 30px;
    --font-size-p: 14px;
    --font-size-result: 14px;
}

/*======COLOR PALETTE======*/
/*------Main------*/
:root {
    --white: white;
    --black: black;
    --primary-color: #008080;
    --secondary-color: #209b87;
    --third-color: #4db686;
    --fourth-color: rgb(0, 255, 229);
}
/*------Background------*/
:root {
    --background-color: #f5f5f5;
}
/*------Text------*/
:root {
    --text-result-color: #004466;
}
/*------Border------*/
:root {
    --border-width: 2px;
    --border-style: solid;
}
/*------Hover------*/
:root {
    --hover-border-color: var(--primary-color);
}
/*------Gradient------*/
:root {
    --gradient-angle1: 180deg;
    --gradient-angle2: 315deg;
    --gradient1: var(--primary-color);
    --gradient2: var(--fourth-color);
    --start-position: 0%;
    --end-position1: 150%;
    --end-position2: 74%;
    --button-gradient-effect: linear-gradient(var(--gradient-angle2), var(--gradient2) var(--start-position), var(--gradient1) var(--end-position2));
    --h1-gradient-effect: linear-gradient(var(--gradient-angle1), var(--gradient1) var(--start-position), var(--gradient2) var(--end-position1));
}
/*------Shadows------*/
:root {
    --box-shadow-color: rgba(0, 0, 0, 0.7);
}

/*======SEMANTIC FONTS======*/
/*------Arial------*/
:root {
    --text: 'arial';
    --text-serif: 'sans-serif';
    --text-weight-regular: 400;
    --text-weight-bold: bold;
}


/*======APPLY======*/
/*------Tags------*/
div.sortify-app-content {
    font-family: var(--font-size-body) var(--text-serif);
    font-size: var(--font-size-body);
    font-weight: var(--text-weight-regular);
}
div.sortify-app {
    background-color: var(--background-color);
    width: 250px;
    height: fit-content;
}
div.sortify-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
h1.sortify-title {
    font-size: var(--font-size-h1);
    font-weight: var(--text-weight-bold);
    background: var(--h1-gradient-effect);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-top: 5px;
}
button#sort-btn {
    cursor: pointer;
    font-size: var(--font-size-button);
    color: var(--white);
    background-image: var(--button-gradient-effect);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 25px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    box-shadow: 0px 4px 6px -2px var(--box-shadow-color);
    outline: var(--border-width) var(--border-style) rgba(0, 0, 0, 0);
}
button#enable-notifs {
    display: none;
    cursor: pointer;
    font-size: var(--font-size-p);
    color: var(--primary-color);
    background-color: var(--background-color);
    border: none;
    padding-bottom: 20px;
}
img.sortify-logo {
    width: 135px;
    height: auto;
    margin: 10px 0 20px 0;
}

/*------Hover------*/
button#sort-btn:hover {
    color: var(--primary-color);
    background-image: none;
    background-color: var(--white);
    outline-color: var(--hover-border-color);
}
button#enable-notifs:hover {
    text-decoration: underline;
}

/*------Ids------*/
div#request-result {
    display: none;
    font-size: var(--font-size-result);
    color: var(--text-result-color);
    margin-top: 20px;
}

/*------Classes------*/
